:root {
  --bg: linear-gradient(135deg, #f5f7fa, #e4ecf5);
  --card-bg: #ffffff;

  --text: #14532d;        /* deep elegant green */
  --input-bg: #f9fafb;
  --result-bg: #ecfdf5;

  --border: #bbf7d0;
}



.dark-theme {
  --bg: linear-gradient(135deg, #020617, #0f172a);
  --card-bg: #0b1220;

  --text: #5eead4;        /* classy mint */
  --input-bg: #020617;
  --result-bg: #020617;

  --border: #0f766e;
}



body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: var(--bg);
  transition: 0.3s;
}

/* center */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card */
.card {
  position: relative;
  background: var(--card-bg);
  width: 340px;
  padding: 22px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.8s ease;
}

.card h2 {
  margin-bottom: 12px;
  color: var(--text);
}

/* input */
.search {
  width: 85%;
  margin: 12px auto;
  display: block;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: var(--input-bg);
  color: var(--text);
}

.search:focus {
  outline: none;
  border-color: var(--text);
}

/* result */
.result {
  margin-top: 18px;
  padding: 14px;
  background: var(--result-bg);
  border-radius: 12px;
  border-left: 5px solid var(--text);
  text-align: left;
}

.result b {
  color: var(--text);
}

/* theme button */
.theme-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background: var(--input-bg);
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 16px;
}

/* animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

